[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simple-term-menu = "*"
termcolor = "*"
pyfiglet = "*"
scapy = "*"
mac-vendor-lookup = "*"
requests = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
